<mat-sidenav-container class="example-container">

   <mat-sidenav [ngStyle]="{'width': width  +'%' }"
   [sideNav] = "sidenav" (setWidth) = "setWidth ($event) "
    appOpenSidebarOnSwipe #sidenav mode = "over" >             
      <mat-toolbar color="white">
          <span> Shop Smart </span>
      </mat-toolbar>
   </mat-sidenav>
   <mat-sidenav-content>
     <mat-toolbar color="warn">
        <button mat-mini-fab color="primary" (click)="sidenav.open()" >
          <mat-icon> menu</mat-icon>
       </button>
        <app-top-bar></app-top-bar>
      </mat-toolbar>
     <div class="container">
          <router-outlet></router-outlet>
        </div>
   </mat-sidenav-content>
</mat-sidenav-container>




<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->